body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
}

header {
  text-align: center;
  color: white;
  background-color: rgb(81, 17, 67);
}

h1 {
  margin: 0;
  margin-top: 5px;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 2px solid rgb(81, 17, 67);
  border-radius: 20px;
  padding: 20px;
}

.clear-board-btn {
  width: 150px;
  height: 30px;
}

button {
  background-color: rgb(193, 182, 217);
  border: 2px solid rgb(81, 17, 67);
  border-radius: 20px;
  height: 30px;
}

.board-display {
  border: 2px solid black;
  height: 720px;
  width: 720px;
  display: grid;
  grid-template-rows: repeat(8, 90px);
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 90px);
}

.cell {
  border: 2px solid white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.purple {
  background-color: rgb(81, 17, 67);
}

.lilac {
  background-color: rgb(193, 182, 217);
}

.knight {
  height: 50px;
  border: 2px solid black;
  border-radius: 40px;
  box-shadow: 0px 0px 8px white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(81, 17, 67);
  color: white;
}

i {
  color: white;
}

button:hover {
  background-color: rgb(81, 17, 67);
  border: 2px solid rgb(193, 182, 217);
  color: white;
  cursor: pointer;
}
